{% load static %}
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/" class="logo text-light fw-bold"> Apostolic MGT.
                <!-- <img src="{% static 'assets/img/kaiadmin/logo_light.svg' %}" alt="navbar brand" class="navbar-brand" height="20" /> -->
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
                <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
                    <a href="{% url 'dashboard' %}" aria-expanded="false">
                        <i class="fa-solid fa-gauge"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>

                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'members' %} active {% endif %}">
                    <a href="{% url 'members' %}" aria-expanded="false">
                        <!-- <i class="fas fa-home"></i> -->
                        <i class="ri-team-fill"></i>
                        <p>Members</p>
                        <!-- <span class="caret"></span> -->
                    </a>

                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'attendance' %} active {% endif %}">
                    <a href="{% url 'attendance' %}" aria-expanded="false">
                        <!-- <i class="fas fa-home"></i> -->
                        <i class="ri-calendar-check-line"></i>
                        <p>Attendance</p>
                        <!-- <span class="caret"></span> -->
                    </a>

                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'visitors' %} active {% endif %}">
                    <a href="{% url 'visitors' %}" aria-expanded="false">
                        <!-- <i class="fas fa-home"></i> -->
                        <i class="ri-group-3-line"></i>
                        <p>Visitors</p>
                        <!-- <span class="caret"></span> -->
                    </a>

                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'finance' %} active {% endif %}">
                    <a href="{% url 'finance' %}" aria-expanded="false">
                        <!-- <i class="fas fa-home"></i> -->
                        <i class="ri-money-dollar-circle-line"></i>
                        <p>Finance</p>
                        <!-- <span class="caret"></span> -->
                    </a>

                </li>


            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->